body {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#gridContainer {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    gap: 0;
}

.gridRow {
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.square {
    flex: 1;
    height: 4px;
    width: auto;
    border: 1px solid black;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    height: 40px;
    width: 200px;
    border-width: 1px;
    border-color: rgb(63, 63, 63);
    border-radius: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    font-size: 15px;
}

.selectedButton {
    background-color: rgb(70, 65, 65);
    color: white;
}


.pickColorContainer {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.colorPicker {
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    border-radius: 50%;
    display: inline-block;
    
}

.sliderText {
    font-family: 'Roboto', sans-serif;
}