body {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#gridContainer {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    gap: 0;
}

.gridRow {
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.square {
    flex: 1;
    height: 4px;
    width: auto;
    border: 1px solid black;
}

.selected {
    background-color: blue;
}